*{
    margin: 0;
    padding: 0;font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(0, 89, 255);
    margin: 0;
    padding: 0;left: 0;top: 0;
}
/* First main container box in css*/

.main_container1{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box11{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 25px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 3px 4px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box12{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 5px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box13{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 5px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box14{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 5px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box11:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}

.box12:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}

.box13:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}

.box14:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}

img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 9px;
    border: 0.5px solid rgb(0, 0, 0);
    box-shadow: 1px 2px 6px 8px rgb(228, 228, 228);
}

img:hover{
    border: 0.5px solid rgb(0, 0, 0);
    box-shadow: 1px 2px 6px 4px rgb(161, 156, 156);
}

button{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(255, 248, 248);
    color: rgb(0, 123, 230);   
    font-family: serif;
    text-decoration: '';
}
button:hover{
    background-color: rgb(229, 229, 213);
    color: rgb(255, 0, 0);
}
/* second main container box in css*/

.main_container2{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box21{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 25px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 3px 4px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}
.box22{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 5px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box23{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 5px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box24{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 5px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box21:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
.box22:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
.box23:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
.box24:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
/* third main container box in css*/

.main_container3{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box3{
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}

.box31{
    margin-top: 10px;
    width: 265px;
    height: 310px;
    margin-left: 25px;
    border: 1.2px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 3px 4px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}
.box32{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box33{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box34{
    margin-top: 10px;
    width: 265px; 
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #ffffff;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.92);
}

.box31:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
.box32:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
.box33:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
.box34:hover{
    background-color: rgba(219, 219, 219, 0.92);
    box-shadow: 1px 2px 6px 4px  #e8e6e6;
}
/* fourth main container box in css*/

/* .main_container4{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box4{
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}
.box41{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 25px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box42{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box43{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box44{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box41:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box42:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box43:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box44:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
/* fivft main container box in css*/

/* .main_container5{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box5{
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}
.box51{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 25px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box52{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box53{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box54{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    box-shadow: 1px 2px 6px 8px  #dcadad;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box51:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box52:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box53:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box54:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}


/* six main container box in css*/



/*.main_container6{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box6{
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}
.box61{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 25px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box62{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box63{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box64{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box61:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box62:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box63:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box64:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
/* seven main container box in css*/

/*.main_container7{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box7{
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}
.box71{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 25px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box72{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box73{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box74{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box71:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box72:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box73:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box74:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
/* eight main container box in css*/

/*.main_container8{
    width: 100%;
    height: 100%;
    background-color: #e5eef2;
}

.box8{
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}
.box81{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 25px;
    margin-bottom: 8px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box82{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 8px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box83{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 8px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}

.box84{
    margin-top: 10px;
    width: 265px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 8px;
    border: 1.8px solid rgb(118, 118, 118);
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: rgba(201, 201, 201, 0.92);
}
.box81:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box82:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box83:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
}
.box84:hover{
    background-color: #d3aaaa;
    box-shadow: 1px 2px 6px 8px  #dcadad;
} */